html, body {
  height: 100%;
  margin: 0;
}

body {
  background-color: #fff;
  font-family: sans-serif;
  overflow: hidden;
}

h1 {
  font-weight: normal;
  font-size: 140%;
}

table {
  height: 100%;
  width: 100%;
}

pre {
  width: 100%;
  padding: 0;
  margin: 0;
  height: 0;
  opacity: 0;
}

code {
  width: 100%;
  height: 100%;
}

#area {
  height: 99%;
}

.button {
  display: inline-block;
  padding: 10px 40px;
  background: gray;
  color: white;
  cursor: pointer;
}

.link {
  position: absolute;
  bottom: 10px;
  right: 10px;
}